# data
/data
*.dat

# executable
/bindex
/bindex_cuda
/rtscan
/rtscan_2c
/rtscan_interval_spacing
/rtc1
/rtc3
/simple_bindex
*.a
*.o
/optix-scan/build
/optix-scan/script
*.exec

# vscode
.vscode/

# log file
log/
*.log
*.png

# optix-scan
/optix-scan/build
/optix-scan/script
/optix-scan/src/optixScan/README.md
/optix-scan/src/optixScan/test*
/optix-scan/src/optixScan/data
/optix-scan/src/optixScan/logs
/optix-scan/src/optixScan/result
/optix-scan/src/optixScan/tmp.log


# test script
test_backup/
/test/tmp
*.exec
tools/generateNormalData
tools/generateUniformData
/pic
/experiments
/bin
